.title__content--style {
    text-align: center;
    color: #9E2A2B;
    margin: 5px auto;
    font-weight: bolder;
}

.title__container--style {
    background-color: white;
    border-bottom-color: #335C67;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/*Mobile screens*/
@media only screen and (max-width: 480px) {
    .title__content--style {
        font-size: large;
    }
}

/*Tablet screens*/
@media only screen and (min-width: 480px) {
    .title__content--style {
        font-size: xx-large;
    }
}

/*Desktop screens*/
@media only screen and (min-width: 1025px) {
    .title__content--style {
        font-size: xxx-large;
    }
}