
.gameArea__container--style {
    display: flex;
    flex-direction: column;
}

.gameArea__container--style > h2 {
    text-align: center;
    color: #9E2A2B;
}

.gameArea__label--style {
    color: #335C67;
    font-weight: bolder;
    font-size: medium;
}

.gameArea__image-gallery--style {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gameArea__image-gallery--style > section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameArea__image-style {
    transition: all .2s ease-in-out;
    max-width: 70%;
    max-height: 50%;
}

.gameAreaButton__containter--style {
    text-align: center;
    margin-top: 15vh;
}

.gameArea__ImageButton--style {
    background-color: white;
    border: none;
}

.gameArea__playButton--style {
    width: 20vw;
    padding: 8px 0;
    background-color: #335C67;
    color: white;
}

.gameArea__playButton--style:hover {
    color: #335C67;
    background-color: white;
    border: 1px solid #335C67;
    font-weight:bolder;
}

.gameArea__ImageButton--style:focus + .gameArea__label--style {
    color: #9E2A2B;
    font-size:x-large;
    margin-top: 10px;
}

.gameArea__image-style:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transform: scale(1.1);
}

.gameArea__ImageButton--style:hover + .gameArea__label--style {
    color: #9E2A2B;
}

/*Tablet screens*/
@media only screen and (min-width: 480px) {
    .gameArea__container--style > h2 {
        font-size: xx-large;
    }

    .gameArea__playButton--style {
        font-size: x-large;
    }

    .gameArea__label--style {
        font-size: x-large;
    }

    .gameArea__ImageButton--style:focus + .gameArea__label--style {
        font-size:xx-large;
        margin-top: 20px;
    }  
}

/*Desktop screens*/
@media only screen and (min-width: 1025px) {
    .gameArea__container--style > h2 {
        font-size: xxx-large;
    }

    .gameArea__playButton--style {
        font-size: xx-large;
    }

    .gameArea__label--style {
        font-size: xx-large;
    }

    .gameAreaButton__containter--style {
        margin-top: 3vh;
    }    
}

/*Desktop screens*/
@media only screen and (min-width: 1600px) {
    .gameArea__playButton--style {
        width: 10vw;
    }
}